*{
    box-sizing: border-box;
}

.grid_set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 20px;
  row-gap: 40px;
}

.grid_set1 {
  /* border: 1px solid rgb(12, 12, 12); */
  border-radius: 5px;
}

.image_container {
  margin: 0 auto;
  width: 80%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3),
    0 11px 8px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
  transition-duration: 1s;
}

.image_container:hover {
  width: 90%;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.3),
    0 15px 11px rgba(0, 0, 0, 0.22);
}

img {
  width: 100%;
  height: auto;
}
.image_description {
  padding: 0 15px 15px 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}



@media only screen and (max-width: 500px) {
  .grid_set {
    /* display: grid; */
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    /* grid-auto-rows: minmax(100px, auto);
    column-gap: 20px;
    row-gap: 40px; */
  }
}